<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer tu contrase침a</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f8f9fa; padding: 20px;">
    <div style="background: #fff; padding: 20px; border-radius: 10px; max-width: 600px; margin: auto;">
        <img src="https://res.cloudinary.com/drogh0pli/image/upload/v1737761247/LogoFitManager_oamz8b.png" alt="FitManager Logo" width="150">
        <h2>Restablece tu contrase침a</h2>
        <p>Hemos recibido una solicitud para restablecer tu contrase침a.</p>
        <img src="https://res.cloudinary.com/drogh0pli/image/upload/v1738652326/PasswordResetFitManager_moavui.png" alt="Restablecer Contrase침a" width="100%">
        <p>Haz clic en el siguiente bot칩n para crear una nueva contrase침a:</p>
        <a href="{{resetLink}}" 
           style="display: inline-block; padding: 10px 20px; color: #fff; background-color: #007bff; text-decoration: none; border-radius: 5px;">
           Restablecer contrase침a 游댐
        </a>
        <p>Si no solicitaste este cambio, ignora este mensaje.</p>
    </div>
</body>
</html>
