<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en tu pago - FitManager</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f8f9fa; padding: 20px;">
    <div style="background: #fff; padding: 20px; border-radius: 10px; max-width: 600px; margin: auto;">
        <img src="https://res.cloudinary.com/drogh0pli/image/upload/v1737761247/LogoFitManager_oamz8b.png" alt="FitManager Logo" width="150">
        <h2>¡Ups, algo salió mal, {{name}}! ❌</h2>
        <p>Tu intento de pago de <strong>${{amount}}</strong> no se ha podido completar.</p>
        <img src="https://res.cloudinary.com/drogh0pli/image/upload/v1739144746/ErrorPaymentFitManager_wtgqll.png" alt="Pago Fallido" width="100%">
        <p>Motivo del error: <strong>{{errorMessage}}</strong></p>
        <p>Te recomendamos intentar nuevamente o contactar con nuestro soporte.</p>
        <a href="https://fitmanager-henry.vercel.app/home" 
           style="display: inline-block; padding: 10px 20px; color: #fff; background-color: #dc3545; text-decoration: none; border-radius: 5px;">
           Ir a Fit-Manager
        </a>
        <p>¡Esperamos poder ayudarte pronto!</p>
    </div>
</body>
</html>
