<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Pago confirmado en FitManager!</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f8f9fa; padding: 20px;">
    <div style="background: #fff; padding: 20px; border-radius: 10px; max-width: 600px; margin: auto;">
        <img src="https://res.cloudinary.com/drogh0pli/image/upload/v1737761247/LogoFitManager_oamz8b.png" alt="FitManager Logo" width="150">
        <h2>¡Gracias por tu pago, {{name}}! ✅</h2>
        <p>Tu pago de <strong>${{amount}}</strong> ha sido procesado con éxito.</p>
        <img src="https://res.cloudinary.com/drogh0pli/image/upload/v1739144746/OkPaymentFitManager_a0yqty.png" alt="Pago Exitoso" width="100%">
        <p>Tu suscripción está activa y puedes disfrutar de todos nuestros servicios.</p>
        <a href="https://fitmanager-henry.vercel.app/dashboard/user" 
           style="display: inline-block; padding: 10px 20px; color: #fff; background-color: #28a745; text-decoration: none; border-radius: 5px;">
           Ir a mi cuenta
        </a>
        <p>¡Gracias por confiar en FitManager! 💪🔥</p>
    </div>
</body>
</html>
